* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #9789f9;
  font-family: Bebas Neue; }

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 200px; }
  .pricing:hover .test:not(:hover) {
    transform: scale(0.8); }
  .pricing .block_center {
    position: relative;
    margin: 0 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 327px;
    height: 611px;
    background-color: #f5f4f9;
    background-image: url("../img/bg2.png");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px #ffffff;
    transition: 1s; }
    .pricing .block_center .title {
      font-family: Open Sans Condensed;
      text-transform: uppercase;
      line-height: 1; }
      .pricing .block_center .title .popular {
        position: absolute;
        top: 10px;
        left: 260px;
        transition: 1s; }
      .pricing .block_center .title h1 {
        font-size: 25pt;
        font-weight: lighter;
        position: absolute;
        top: 20px;
        left: 116px; }
        .pricing .block_center .title h1 span {
          font-size: 40pt; }
      .pricing .block_center .title h2 {
        font-size: 23pt;
        font-weight: normal;
        position: absolute;
        top: 75px;
        left: 110px; }
    .pricing .block_center .icon {
      position: absolute;
      top: 148px;
      left: 146px; }
    .pricing .block_center .list {
      width: 200px;
      height: 229px; }
      .pricing .block_center .list ul li {
        list-style-type: none;
        font-family: 'Inria Serif', serif;
        font-size: 13pt;
        line-height: 3.5; }
    .pricing .block_center .button {
      width: 203px;
      height: 54px;
      background-color: #6fcffb;
      border: none;
      border-radius: 40px;
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 10pt;
      font-weight: bolder;
      position: absolute;
      bottom: -25px;
      left: 65px; }
  .pricing .block_right {
    position: relative;
    margin: 0 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 327px;
    height: 611px;
    background-color: #f5f4f9;
    background-image: url("../img/bg2.png");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px #ffffff;
    transition: 1s; }
    .pricing .block_right .title {
      font-family: Open Sans Condensed;
      text-transform: uppercase;
      line-height: 1; }
      .pricing .block_right .title h1 {
        font-size: 25pt;
        font-weight: lighter;
        position: absolute;
        top: 20px;
        left: 116px; }
        .pricing .block_right .title h1 span {
          font-size: 40pt; }
      .pricing .block_right .title h2 {
        font-size: 23pt;
        font-weight: normal;
        position: absolute;
        top: 75px;
        left: 78px; }
    .pricing .block_right .icon {
      position: absolute;
      top: 148px;
      left: 146px; }
    .pricing .block_right .list {
      width: 200px;
      height: 229px; }
      .pricing .block_right .list ul li {
        list-style-type: none;
        font-family: 'Inria Serif', serif;
        font-size: 13pt;
        line-height: 3.5; }
    .pricing .block_right .button {
      width: 203px;
      height: 54px;
      background-color: #6fcffb;
      border: none;
      border-radius: 40px;
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 10pt;
      font-weight: bolder;
      position: absolute;
      bottom: -25px;
      left: 65px; }
  .pricing .block_left {
    position: relative;
    margin: 0 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 327px;
    height: 611px;
    background-color: #f5f4f9;
    background-image: url("../img/bg2.png");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px #ffffff;
    transition: 1s; }
    .pricing .block_left .title {
      font-family: Open Sans Condensed;
      text-transform: uppercase;
      line-height: 1; }
      .pricing .block_left .title h1 {
        font-size: 25pt;
        font-weight: lighter;
        position: absolute;
        top: 20px;
        left: 116px; }
        .pricing .block_left .title h1 span {
          font-size: 40pt; }
      .pricing .block_left .title h2 {
        font-size: 23pt;
        font-weight: normal;
        position: absolute;
        top: 75px;
        left: 141px; }
    .pricing .block_left .icon {
      position: absolute;
      top: 148px;
      left: 146px; }
    .pricing .block_left .list {
      width: 200px;
      height: 229px; }
      .pricing .block_left .list ul li {
        list-style-type: none;
        font-family: 'Inria Serif', serif;
        font-size: 13pt;
        line-height: 3.5; }
    .pricing .block_left .button {
      width: 203px;
      height: 54px;
      background-color: #6fcffb;
      border: none;
      border-radius: 40px;
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 10pt;
      font-weight: bolder;
      position: absolute;
      bottom: -25px;
      left: 65px; }

.block_left:hover {
  box-shadow: 0 0 10px #fd8d7b;
  transform: scaleY(1.1) scaleX(1.1); }
  .block_left:hover .button {
    background-color: #fd8d7b;
    transition: all 1s;
    transform: translateY(-50px); }

.block_right:hover {
  box-shadow: 0 0 10px #fd8d7b;
  transform: scaleY(1.1) scaleX(1.1); }
  .block_right:hover .button {
    background-color: #fd8d7b;
    transition: all ease-in 1s;
    transform: translateY(-50px); }

.block_center:hover {
  box-shadow: 0 0 10px #fd8d7b;
  transform: scaleY(1.1) scaleX(1.1); }
  .block_center:hover .button {
    background-color: #fd8d7b;
    transition: all ease-in 1s;
    transform: translateY(-50px); }
  .block_center:hover .popular {
    transform: scale(1.2); }

.button:not(:hover) {
  transition: 2s; }
